* {
	font-family: Verdana, Geneva, sans-serif;
}

body {
	background: linear-gradient(to top, #232323, #000);
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
