body
    {
        background-color: rgba(37, 36, 48, 0.73);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


h2 {
    display: flex;
    justify-content: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

a 
    {

    cursor: pointer;
    padding: 5px;
    color: royalblue;
    margin-right: 10px;
    }

  a:hover
  {
    color: rgb(141, 231, 81);
  }

table
{
    border-width: 2px;
    border-color: rgba(80, 236, 80, 0.719);
    border-collapse: collapse;
    background-color: rgb(178, 235, 197);
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
}
