body
    {
        background: linear-gradient(135deg, #c2e1f7, #fffd80);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        min-width: 100hv;
    }


h2 {
    display: flex;
    justify-content: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

a 
    {
    cursor: pointer;
    padding: 5px;
    color: rgb(240, 105, 184);
    margin-right: 10px;
    }

    .Nuevo
    {
    position: relative;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none; 
    position: absolute; 
    }
    .Nuevo:hover
    {
    border-style: groove;
    }

  a:hover
  {
    color: rgb(248, 248, 248);
  }

#Actualizarbtn
{
    cursor: pointer;
    padding: 5px;
    color: rgb(240, 105, 184);
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

#Actualizarbtn:hover
{
    border-style: groove;
}




#Guardarbtn
{
    cursor: pointer;
    padding: 5px;
    color: rgb(240, 105, 184);
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

#Guardarbtn:hover
{
    border-style: groove;
}

table
{
    
    border-width: 10px;
    border-color: rgba(80, 236, 80, 0.719);
    border-collapse: collapse;
    background-color: rgb(178, 235, 197);
    margin: 100px auto;
    width: 90%;
    max-width: 900px;
}

.Ver
    {
        text-align: center;
    position: relative;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none; 
    }
    .Ver:hover
    {
    border-style: groove;
    }

    .Agregar
    {
    text-align: center;
    position: relative;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none; 
    }
    .Agregar:hover
    {
    border-style: groove;
    }


