RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

<FilesMatch "\.md$">
    Require all denied
</FilesMatch>

RewriteRule ^(config|controller|models|view|docs)/ - [F,L]

Options -Indexes